
/*
 Ver colores: https://www.w3schools.com/colors/colors_picker.asp
*/

@font-face {
    font-family: F1_Bold;
    src: url(Fuentes/F1_Bold.ttf);
}

div {
    font-family: F1_Bold;
}

body {
  /* background: #6699ff;
  background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50); */
  background:         linear-gradient(#f2f2f2,  #cccccc);
}